/* -------------------------------------------------------------------------------------ADMIN --------------------------------------------------------------------------------*/
.container-fluid{
    padding: 20px 30px;
    background-color: white;
}

.container-fluid #text{
    background-color: black;
    color: #FFC0D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.search {
    background-color: #FFC0D9;
    color: rgb(255, 255, 255);
    padding: 15px;
}
.search-container{
    background-color: white;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    border-radius: 25px;
    position: relative;
    display: flex;
}
.search-container  input[type="text"]{
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    width: 100%;
    outline: none;
}

.search-container input[type="text"]::hover{
    border: 1px solid white;
}

.search-container input[type="text"]:focus{
    background-color: white;
    border: none;
}

.search-container button{
    border: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #FFC0D9;
    width: 10%;
}

.users-list{
    background-color: white;
    margin-top: 20px;
}
.users-list a{
    text-decoration: none;
    color: black;
} 

.users-list .details{
    background-color:white;
    margin: 10px 20px;
    padding: 10px 0 1px 30px;
    border-radius: 20px;
    box-shadow: 13px 15px 17px -5px rgba(0,0,0,0.1);
}

.users-list .details:hover{
    background-color: #FFEEF5;
    margin-left: 40px;
}

.users-list .details span{
    font-size: 17px;
}


.full-chat-block {
    width: 100%;
    border-radius: 0px;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
    scrollbar-color: #f779ad #f8f8f8; /* Track color, thumb color */
}

.content{
    width: 100%;
}
.outer-container {
    min-height: 500px;
    bottom: 0%;
    background-color: rgb(247, 247, 247);
}

.chat-container {
    max-height: 500px;
    width: 100%;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-bar-input-block {
    display: flex;
    float: left;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    padding: 20px 30px 20px 30px;
}

.input-field{
    float: left;
    border: none;
    box-sizing: border-box;
    width: 90%;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none
}

.chat-bar-input-block button{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 10%;
    padding: 10px 0px;
    float: right;
    font-size: 20px;
    border:none;
    border-radius: 0px 10px 10px 0px;
}

.chat-bar-input-block button:hover{
    opacity: .7;
    background-color: #FFC0D9;
}

.chat-bar-input-block button.active{
    background-color: #FFC0D9;
    margin: 0;
}
.typing-area{
    width: 100%;
}
.chat-box.active .outgoing .details{
    margin-right: 20px;
}
.chat-box.active .incoming .details{
    margin-left: 20px;
}
.chat-box{
    position: relative;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgba(29, 19, 19, 0.05);
}

.chat-box p{
    word-wrap: break-word;
    padding: 8px 16px;
}

.outgoing .details p{
    line-height: 1.5em;
    display: inline-block;
    background: pink;
    padding:  7px;
    border-radius: 10px;
    border-bottom-right-radius: 2px;
    max-width: 70%;
    margin-right: 10px;
}

.incoming .details p{
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 80%;
    margin-left: 10px;
}


